/*seletor universal*/
*{
    font-family: arial;
}

/*fieldset*/
fieldset{
    margin: 10px;
    padding: 10px;
    background-color: rgb(236, 223, 253);
    border-radius: 8px;
    border-style: hidden;
    box-shadow: 2px 2px 5px 1.5px rgb(136, 109, 170);
}

/*.formulario*/
.formulario{
    border-radius: 8px;
    width: 600px;
    border-style: hidden;
}

/*body*/
body{
    background-color: rgba(202, 181, 255, 0.852);
}

/*button*/
button{
    border-radius: 5px;
}

button:hover{
    background-color: rgb(157, 115, 173);
}
